.App {
  text-align: center;
}

.App h1 {
  font-size: 4vw;
}

.App input {
  padding: 10px 20px;
  outline: none;
  font-size: 1vw;
  font-weight: 100;
  margin: 5px;
  margin-bottom: 20px;
  border-radius:5px;
  border: 1px solid rgb(127, 127, 127);
}

.App button {
  padding: 10px 20px;
  border-radius:5px;
  transition: all linear 0.3s;
}

.App button:hover {
  color: #fff;
  background-color: black;
}
